@use "../../../../style/variables" as variables;

.project-card-info {
  padding-bottom: 12px;
  border-bottom: solid 1px #b7c4c4;

  display: flex;
  flex-direction: column;
  grid-gap: 8px;

  @media (min-width: map-get(variables.$breakpoints, lg)) {
    padding-bottom: 0;
    border-bottom: 0;
  }

  h1 {
    color: map-get(variables.$colors, "black");
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;

    @media (min-width: map-get(variables.$breakpoints, lg)) {
      font-size: 22px;
    }
  }

  &__features {
    display: flex;
    flex-direction: row;
    grid-gap: 8px;

    a {
      cursor: pointer;
      text-decoration: none;
    }
  }

  &__github,
  &__website {
    border-radius: 12px;
    padding: 4px 8px 2px 8px;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: -0.108px;
    text-transform: uppercase;
    color: map-get(variables.$colors, "white");
  }

  &__github {
    background-color: map-get(variables.$colors, "1");
  }

  &__website {
    background-color: map-get(variables.$colors, "black");
  }
}
